* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header_and_main {
    background-image:  url(img/bg_for_header_and_main.png);
}

.main_header {
    display: flex;
    justify-content: space-between;
}

.icon_image {
    width: 68px;
   
    margin-top: 74px;
    margin-left: 204px;
}

.navigation {
    margin-top: 22px;
    margin-right: 38px;
    padding-bottom: 29px;

    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    
    text-decoration: none;
}

.navigation:hover {
    border-bottom: 3px solid #28c8c6;
}

.navigation_blog {
    margin-right: 26px;
}

.nav_in_header {
    margin-top: 77px;
    margin-right: 209px;

    display: flex;
}

.button_in_header {
    width: 129px;
    height: 52px;

    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;

    
    border-radius: 5%;
    border-style: none;
    border: none;


    background-color: #a100ff;
}

.icon_arrow {
    width: 16px;
}

.text_in_button_in_header {
    margin-right: 20px;
}

.main_container {
    margin-top: 192px;
    margin-left: 209px;
}

.main_h1 {
    margin-bottom: 40px;

    font-size: 42px;
    
    color: #ffffff;
}

.text_in_main {
    margin-bottom: 6px;
    
    font-size: 12px;
    color: #ffffff;
}

.text_in_main_down {
    margin-bottom: 30px;
}

.forms_in_main {
    padding-bottom: 258px;
    
    display: flex;
}

.form_in_main {
    width: 282px;
    height: 60px;

    border-radius: 3px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background: #fcfcfc;
}

.input_design_style {
    margin-left: 25px;

    outline: none;
    border: none;
}

.button_for_input_design_style {
    margin-right: 22px;

    background: #fcfcfc;

    border: none;
}

.input_email {
    margin-left: 26px;

    outline: none;
    border: none;
}

.button_for_input_email {
    margin-right: 21px;
    
    background: #fcfcfc;

    border: none;
}

.form_with_email {
    margin-left: 17px;
}

.transition_between_main_and_ads_container {
    display: flex;
    justify-content: center;
}

.transition_between_main_and_ads {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 2;
    
    position: relative;
    top: -50px;
    
    border-radius: 50%;
    
    background-image: url(img/bg_for_ads_container.png);
}

.ads_container {
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    top: -100px;
    
    background-image: url(img/bg_for_ads_container.png);
}

.h2_in_ads_container {
    margin-top: 148px;
    
    font-size: 28px;
    color: #333b42;
}

.text_in_ads_container {
    font-size: 10px;
    font-weight: bold;
    color: #74797e;

}

.text_in_ads_container_up {
    margin-top: 42px;
    margin-bottom: 10px;
}

.iphone_6_png {
    margin-top: 76px;
}

.transition_betwiee_ads_container_and_features_of_app_container {
    display: flex;
    justify-content: center;
}

.transition_between_ads_and_features_of_app {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    position: relative;
    top: -150px;

    z-index: 3;
    
    border-radius: 50%;
    
    background: #28c8c6;
}

.features_of_app_container {
    margin-top: -200px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2_in_features_of_app_container {
    margin-top: 160px;
    margin-bottom: 34px;

    font-size: 21px;
    color: #333b42;
}

.text_in_features_of_app_container {
    font-size: 11px;
    font-weight: bold;
    color: #74797e;
}

.text_in_features_of_app_container_up {
    margin-bottom: 10px;
}

.container_with_blocks_apps {
    width: 75%;
    
    margin-top: 64px;
    margin-bottom: 154px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block_app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h3_in_block_app {
    margin-top: 38px;
    margin-bottom: 36px;

    font-size: 12px;
    color: #333b42;
}
.text_in_block_app {
    margin-bottom: 12px;

    font-size: 10px;
    font-weight: bold;
    color: #74797e;
}